*{
    margin: 0;
    padding: 0;
}

.main-container{
    padding: 2rem;
    background-color: #285E65;
}

.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}
.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}

h2{
    color: #fff;
    font-family: "Montserrat Alternates", sans-serif;
    text-align: center;
    margin-top: 30px;
}
.about-tour p{
    color: #fff;
    font-family: "Montserrat Alternates", sans-serif;
    text-align: center;
    margin-top: 20px; 
}

.about-tour li{
    color: #fff;
    font-family: "Montserrat Alternates", sans-serif;
    text-align: center;
}

