.aboutUs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.aboutUs_text{
    text-align: center;
}


.carousel-caption {
    color: black;
}

img{
    object-fit: cover;
}

.tour-textbox{
    background-color: rgba(14, 57, 14, 0.488);
}

.more{
    display: none;
    font-size: 12px;
}

.tour-carousel-title{
    font-size: 40px;
    color: white;
}

.jobTitle{
    font-style: italic;
}

.tour-text{
    color: white;
}

.carousel_container{
    display: flex;
    flex-direction: column;
}

.reviews-title{
margin: 4% 0 0;
place-self: center;
font-size: 36px;
font-weight: bold;
}

.review-textbox{
    top: 5%;
}

.carousel_button{
margin: 2% 0;
padding: 2%;
border-radius: 5px;
background-color: #333333;
color: white;
}

.services_container{
    max-width: 1200;
    margin: 0 auto;
    padding: 5% 5%;
   
}
.services{
display: flex;
flex-direction: column;
align-items: center;
gap: 50px;
}

.servicesTop{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.icons{
display: flex;
padding: 2%;
gap: 20px;

}
.icon{
display: flex;
flex-direction: column;
align-items: center;
width: 25%;
gap: 20px;
}
.iconText{
    text-align: center;
}

.returnTop{
    height: 16vh;
    background-color: #1B3840;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.arrow_wrapper{
    padding: 4% 0;
    text-align: center;
    height: 40%;
}

.footer_arrow_top{
    height: 100%;
}

.footer_container{
    padding: 5%;
    background-color: #13253F;
    color: white;
    display: flex;
    justify-content: space-around;
    gap: 5%;
}

.logo-name{
    display: flex;
    align-content: center;
}

.contacts{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.contacts_item{
    display: flex;
    gap: 10px;
}

.socialMedia{
    display: flex;
    gap: 10px;
}

.contact_us{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact_us_form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.email_input{
    width: 100%;
    padding: 4% 0;
}

.send_button{
    background-color: red;
    color: white;
    padding: 5% 16%;
    align-content: center;
    border-radius: 5px;
}

.footer_title{
    font-size: 1.5rem;
    font-weight: bold;
}

.subscription_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/mountains-river.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.subscription_title{
    color: white;
    text-align: center;
    padding: 50px;
}
.newsletter{
    color: white;
    background-color: rgb(241, 5, 5);
    border: none;
    height: 60px;
    width: 220px;
    border-radius: 5px;
}
.email_newsletter{
    border: none;
    border-radius: 5px;
    height: 60px;
    width: 480px;
    padding-left: 1rem;
}
.form_newsletter{
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media screen and (max-width: 865px) {
    .tour-carousel-title{
        font-size: 22px;
    }
    .carousel-text{
        font-size: 14px;
        display: -webkit-box;
        line-clamp: 5;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .more{
        display: block;
    }
    .reviews-title{
    font-size: 22px;
    }
}

@media screen and (max-width: 550px) {
    .tour-carousel-title{
        font-size: 20px;
    }
    .carousel-text{
        line-clamp: 3;
        -webkit-line-clamp: 3;
    }
    .reviews-title{
    font-size: 20px;
    }
}

@media screen and (max-width: 450px) {
    .tour-carousel-title{
        font-size: 18px;
        margin-bottom: 1em;
    }
    .tour-text{
        display: none;
    }
    .reviews-title{
    font-size: 18px;
    }
    .icons {
        gap: 50px;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 450px){
    .form_newsletter {
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }
    h1 {
        font-size: 1.5rem;
    }
    .email_newsletter{
        flex: 1;
        height: 70%;
        width: 65%;
        border-radius: 5px;
        padding: 15px;
    }
    .newsletter{
            flex: 1;
            height: 70%;
            width: 65%;
            border-radius: 5px;
            padding: 15px;
    }
}