.carousel-caption {
    color: black;
}

.tour-textbox{
    background-color: rgba(14, 57, 14, 0.488);
}

.more{
    display: none;
    font-size: 12px;
}

.tour-carousel-title{
    font-size: 40px;
    color: white;
}

.jobTitle{
    font-style: italic;
}

.tour-text{
    color: white;
}

.carousel_button{
margin: 2% 0;
padding: 2%;
}

@media screen and (max-width: 865px) {
    .tour-carousel-title{
        font-size: 22px;
    }
    .carousel-text{
        font-size: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .more{
        display: block;
    }
}
@media screen and (max-width: 550px) {
    .tour-carousel-title{
        font-size: 20px;
    }
    .carousel-text{
        -webkit-line-clamp: 3;
    }
}

@media screen and (max-width: 450px) {
    .tour-carousel-title{
        font-size: 18px;
        margin-bottom: 1em;
    }
    .tour-text{
        display: none;
    }
    
}