.carousel-caption {
    color: black;
}

img{
    object-fit: cover;
}

.tour-textbox{
    background-color: rgba(14, 57, 14, 0.488);
}

.more{
    display: none;
    font-size: 12px;
}

.tour-carousel-title{
    font-size: 40px;
    color: white;
}

.jobTitle{
    font-style: italic;
}

.tour-text{
    color: white;
}

.reviews-title{
margin: 4% 0 0;
place-self: center;
font-size: 36px;
font-weight: bold;
}

.review-textbox{
    top: 5%;
}

.carousel_button{
margin: 2% 0;
padding: 2%;
border-radius: 5px;
background-color: #333333;
color: white;
}


.returnTop{
    height: 16vh;
    background-color: #1B3840;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.arrow_wrapper{
    padding: 4% 0;
    text-align: center;
    height: 40%;
}

.footer_arrow_top{
    height: 100%;
}

.footer_container{
    padding: 5%;
    background-color: #13253F;
    color: white;
    display: flex;
    justify-content: space-around;
    gap: 5%;
}

.logo-name{
    display: flex;
    align-content: center;
}

.contacts{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.contacts_item{
    display: flex;
    gap: 10px;
}

.socialMedia{
    display: flex;
    gap: 10px;
}

.contact_us{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact_us_form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.email_input{
    width: 100%;
    padding: 4% 0;
}

.send_button{
    background-color: red;
    color: white;
    padding: 5% 16%;
    align-content: center;
    border-radius: 5px;
}

.footer_title{
    font-size: 1.5rem;
    font-weight: bold;
}


@media screen and (max-width: 865px) {
    .tour-carousel-title{
        font-size: 22px;
    }
    .carousel-text{
        font-size: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .more{
        display: block;
    }
    .reviews-title{
    font-size: 22px;
    }
}

@media screen and (max-width: 750px) {
    .footer_container{
        flex-direction: column;
        align-items: center;
        gap: 50px;
        }
    
    .contact_us{
        align-items: center; 
        padding-left: 5%;
    }
}

@media screen and (max-width: 550px) {
    .tour-carousel-title{
        font-size: 20px;
    }
    .carousel-text{
        -webkit-line-clamp: 3;
    }
    .reviews-title{
    font-size: 20px;
    }
}

@media screen and (max-width: 450px) {
    .tour-carousel-title{
        font-size: 18px;
        margin-bottom: 1em;
    }
    .tour-text{
        display: none;
    }
    .reviews-title{
    font-size: 18px;
    }
    .footer_title{
        font-size: 1rem;
    }
}