.carousel_container{
background-color:rgb(26, 108, 140) ;
}
.d-block{
    width: 100vw;
}

img{
    object-fit: cover;
}

.carousel-caption {
    color: white;
}

.jobTitle{
    font-style: italic;
}

.addReview{
    margin: 2% 0;
    padding: 2% 4%;
    border-radius: 5px;
    background-color: #333333;
    color: white;
}

.returnTop{
    height: 16vh;
    background-color: #1B3840;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.arrow_wrapper{
    padding: 4% 0;
    text-align: center;
    height: 40%;
}

.footer_arrow_top{
    height: 100%;
}


@media screen and (max-width: 865px) {
    .d-block{
        height: 100vh;
    }

    .carousel-text{
        font-size: 14px;
    }
    .addReview{
        width: 30%;
        font-size: 14px;
     }
}
@media screen and (max-width: 550px) {
    .carousel-text{
        font-size: 12px;
    }
    .addReview{
        width: 30%;
        font-size: 12px;
     }
}

@media screen and (max-width: 450px) {
    .carousel-text{
        font-size: 10px;
    }
    .addReview{
       width: 30%;
       font-size: 10px;
    }
}